{% extends "leader/leader_base_generic.html" %}

{% block content %}
<h1>Round {{ genericquestion.round.number }} - {{ genericquestion.round.title }}</h1>
  <h2>Question {{genericquestion.number}}</h2>
  {% if genericquestion.previous_question %}
  <a href="{{ genericquestion.previous_question.get_absolute_url }}" class="btn btn-success">Previous Question</a>
  {% else %}
  <a href="{{ genericquestion.round.get_absolute_url }}" class="btn btn-success">Back to Round</a>
  {% endif %}
  {% if genericquestion.next_question %}
  <a href="{{ genericquestion.next_question.get_absolute_url }}" class="btn btn-success">Next Question</a>
  {% else %}
  <a href="{{ genericquestion.round.get_absolute_url }}" class="btn btn-success">Back to Round</a>
  {% endif %}
  <div style="margin-top:20px">
    {% if genericquestion.media_type == 'i' %}
    <p><img src="{{genericquestion.media_url}}" alt="Question Image" style="width:75%;"></p>
    {% elif genericquestion.media_type == 'v' %}
    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="{{genericquestion.media_url}}" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
    {% elif genericquestion.media_type == 'a' %}
    <div id="audio">
      <audio controls>
      <source id="audio-source" src="{{genericquestion.media_url}}" type="audio/mpeg">
      </audio>
    </div>
    {% endif %}
    <p><strong>{{genericquestion.question}}</strong></p>
    {% if genericquestion.detail.options %}
    <strong>Options:</strong><br>
      <ul style="list-style-type:none; padding-left:0; margin-top:5px">
      {% for option in genericquestion.detail.options.all %}
        <li>{{option}}</li>
      {% endfor %}
      </ul>
    {% elif genericquestion.detail.stages %}
      <ul style="list-style-type:none; padding-left:0; margin-top:5px">
      {% for stage in genericquestion.detail.stages.all %}
        {% if stage.text %}
        <li>{{stage.text}}</li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
    <br>
    <p>Correct answer: {{genericquestion.answer}}<br>
    {% if genericquestion.question_type == 'g' %}
    <script type="text/javascript">
      var comparisonItems = [];
      var exploreQuery = "q=";

      {% for user, response in answers.items %}
        {% if response.get_response and response.get_response.strip %}
          var responseText = "{{response.get_response|escapejs}}";
          comparisonItems.push({"keyword":""+responseText,"geo":"GB","time":"today 12-m"});
          exploreQuery = exploreQuery + responseText;
        {% endif %}
      {% endfor %}
      console.log(comparisonItems);
      trends.embed.renderExploreWidget(
        "TIMESERIES",
        {"comparisonItem":comparisonItems,"category":0,"property":""},
        {"exploreQuery":exploreQuery+"&date=today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}
      );
    </script>
    <br>
    {% endif %}
    <input id="show-correct" type="button" class="btn btn-success" onclick="showCorrectAnswer(event)" value="Show Correct Answer">
    </p>
  </div>
{% if request.session.currentGameCode %}
<br>
<input id="show-question" type="button" class="btn btn-success" value="Show Question">
<br>
Timer: <input id="timerLength" type="number" step="1" min="1" value="30" style="width: 50px">seconds<input id="set-timer" onclick="setTimer(event)" type="button" class="btn btn-success" value="Set Timer">
<br>
<p id="timerCountdown" style="display:none;">Time remaining: <span class="minutes"></span>:<span class="seconds"></span></p>
<br>
<input id="mark-question" type="button" class="btn btn-success" value="Mark Question">
<br><br>
<h2>Answers</h2>
<p style="text-align:left !important;">
{% for user, response in answers.items %}
<form name="show-answer-form" id="{{response.id}}" action="" onsubmit="return false" style="display:inline;">
  <strong>{{user}}</strong> - <span id="{{user}}">{{response.get_response}}</span> (<span name="marking">{{response.get_marking_display|default:"Unmarked"}}</span>, <span name="points">{{response.points|default:"0"|floatformat:"-2"}}</span> points)
  <input type="hidden" name="responseID" value="{{response.id}}"/>
  <input type="hidden" name="max_points" value="{{response.get_max_points}}"/>
  <input name="show-answer" type="button" class="btn btn-success" onclick="showAnswer(event)" value="Show"> &emsp;
  <label><input type="radio" name="mark" class="correct">Correct <small>(<span name="max_points_display">{{response.get_max_points}}</span> pts)</small></label> &emsp;
  <label><input type="radio" name="mark" class="incorrect">Incorrect</label> &emsp;
  <label><input type="radio" name="mark" class="manual">
      Manual Points: <input type="number" name="points" step="0.01" min="0" max="10" onclick="tickManual(event);">
  </label> &emsp;
  <input name="mark-answer" type="button" class="btn btn-success" onclick="markAnswer(event)" value="Mark and Show">
  <span name="error"></span>
</form>
<br><br>
{% endfor %}
<input id="show-all" type="button" class="btn btn-success" onclick="showAllAnswers(event)" value="Show All"> &emsp;
</p>
<br><br>
{% endif %}
{% endblock %}

{% block roomCode %}
{{ request.session.currentGameCode }}
{% endblock %}

{% block scripts %}
{{ request.session.currentGameCode|json_script:"currentGameCode" }}
{{ genericquestion.id|json_script:"questionID" }}
{% load static %}
<script src="{% static 'scripts/timer.js' %}"></script>
<script>
    const roomCode = JSON.parse(document.getElementById('currentGameCode').textContent);
    const questionID = JSON.parse(document.getElementById('questionID').textContent);

    var protocol = '';
    if (window.location.protocol === 'https:') {
        protocol = 'wss:';
    } else {
        protocol = 'ws:';
    }

    const chatSocket = new WebSocket(
        protocol + '//'
        + window.location.host
        + '/ws/game/'
        + roomCode
        + '/'
    );

    chatSocket.onopen = function() {
      console.log( 'opened' );
      chatSocket.sendMessage({ command: 'get_player_list', gameID: roomCode });
    };

    chatSocket.sendMessage = function(data) {
      try {
        console.log( data );
        chatSocket.send(JSON.stringify(data));
      }
      catch(err) {
        console.log(err.message);
      }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        document.getElementById("player-list").innerHTML = "Not connected";
    };

    chatSocket.onmessage = function(e) {
      console.log(e)
      const data = JSON.parse(e.data);
      const command = data.command;
      if (command === 'answer') {
        var answer = data.answer;
        if(answer.username && answer.questionID == questionID) {
          document.getElementById(answer.username).innerHTML = answer.answer;
          if(answer.maxPoints) {
            var form = document.getElementById(answer.username).parentElement;
            form.querySelector('input[name="max_points"]').value = answer.maxPoints;
            form.querySelector('span[name="max_points_display"]').innerHTML = answer.maxPoints;
          }
        }
      }
      else if (command === 'updateMaxPoints') {
        if(data.maxPoints) {
          var form = document.getElementById(data.responseID);
          form.querySelector('input[name="max_points"]').value = data.maxPoints;
          form.querySelector('span[name="max_points_display"]').innerHTML = data.maxPoints;
        }
      }
      else if (command === 'markedAnswer') {
        var responseID = data.responseID;
        var form = document.getElementById(responseID);
        form.querySelector('span[name="marking"]').innerHTML = data.marking;
        form.querySelector('span[name="points"]').innerHTML = data.points;
      }
      else if (command === 'timer') {
        if(questionID == data.questionID) {
          var timerEnd = new Date(Date.parse(new Date(data.timerEnd)));
          timeInterval = initializeClock('timerCountdown', timerEnd, data.timeRemaining, timeInterval);
        }
      }
      else if (command === 'playerList') {
        document.getElementById("player-list").innerHTML = data.playerList;
      }
      else if (command === 'playerConnect') {
        document.getElementById("player-list").innerHTML += "<li id='plist-" + data.username + "'>" + data.username + "</li>";
      }
      else if (command === 'playerDisconnect') {
        var element = document.getElementById("plist-"+data.username);
        element.parentNode.removeChild(element);
      }
    };

    document.querySelector('#show-question').onclick = function(e) {
      chatSocket.sendMessage({ command: 'change_question', questionID: questionID, gameID: roomCode });
    };

    document.querySelector('#mark-question').onclick = function(e) {
      chatSocket.sendMessage({ command: 'mark_question', questionID: questionID, gameID: roomCode });
    };

    function tickManual(e) {
      e.toElement.parentElement.children[0].checked=true;
    };

    function showAnswer(event) {
      var form = event.toElement.parentElement;
      var responseID = form.querySelector('input[name="responseID"]').value;
      chatSocket.sendMessage({ command: 'show_answer', responseID: responseID });
    };

    function markAnswer(event) {
      var form = event.toElement.parentElement;
      var responseID = form.querySelector('input[name="responseID"]').value;
      var max_points = form.querySelector('input[name="max_points"]').value;
      var points = 0;
      var error = form.querySelector('span[name="error"]').innerHTML;
      if(form.querySelector('.correct').checked) {
        marking = 'c';
        points = max_points;
      }
      else if(form.querySelector('.incorrect').checked) {
        marking = 'i';
        points = 0;
      }
      else if(form.querySelector('.manual').checked) {
        marking = 'p';
        points = form.querySelector('input[name="points"]').value;
        if(points === '') {
          error = "No points input.";
          return false;
        }
      }
      else {
        error = "No marking selected.";
        return false;
      }
      error = "";
      console.log(marking)
      chatSocket.sendMessage({ command: 'mark_answer', responseID: responseID, marking: marking, points: points});
    };

    function showAllAnswers(event) {
      chatSocket.sendMessage({ command: 'show_all_answers', questionID: questionID, gameID: roomCode });
    };

    function showCorrectAnswer(event) {
      chatSocket.sendMessage({ command: 'show_correct_answer', questionID: questionID, gameID: roomCode, answer: "{{ genericquestion.answer }}" });
    };

    function setTimer(event) {
      var timerLength = document.getElementById("timerLength").value;
      chatSocket.sendMessage({ command: 'set_timer', questionID: questionID, gameID: roomCode, timerLength: timerLength });
    };

    var timeInterval = setInterval(function() {return false;}, 0);
    var timerEnd = new Date(Date.parse(new Date("{{ game.timerEnd.isoformat }}")));
    timeInterval = initializeClock('timerCountdown', timerEnd, null, timeInterval);
</script>


{% endblock %}
