{% extends "leader/leader_base_generic.html" %}

{% block content %}
<h1>Round {{ genericquestion.round.number }} - {{ genericquestion.round.title }}</h1>
  <h2>Question {{genericquestion.number}}</h2>
  <div style="margin-top:20px">
    {% if genericquestion.detail.image_url %}
    <p><img src="{{genericquestion.detail.image_url}}" alt="Question Image" style="width:75%;"></p>
    {% endif %}
    <p><strong>{{genericquestion.question}}</strong></p>
    {% if genericquestion.detail.options %}
    <strong>Options:</strong><br>
      <ul style="list-style-type:none; padding-left:0; margin-top:5px">
      {% for option in genericquestion.detail.options.all %}
        <li>{{option}}</li>
      {% endfor %}
      </ul>
    <br>
    {% endif %}
    <p>Correct answer: {{genericquestion.answer}}<br>
    <input id="show-correct" type="button" class="btn btn-success" onclick="showCorrectAnswer(event)" value="Show Correct Answer">
    </p>
  </div>
{% if request.session.currentGameCode %}
<br>
<input id="show-question" type="button" class="btn btn-success" value="Show Question">
<br>
<br>
<br>
<input id="mark-question" type="button" class="btn btn-success" value="Mark Question">
<br>
<br>
<h2>Answers</h2>
<p style="text-align:left !important;">
{% for user, response in answers.items %}
<form name="show-answer-form" id="{{response.id}}" action="" onsubmit="return false" style="display:inline;">
  <strong>{{user}}</strong> - <span id="{{user}}">{{response.get_response}}</span> (<span name="marking">{{response.get_marking_display|default:"Unmarked"}}</span>, <span name="points">{{response.points|default:"0"|floatformat:"-2"}}</span> points)
  <input type="hidden" name="responseID" value="{{response.id}}"/>
  <input id="show-answer" type="button" class="btn btn-success" onclick="showAnswer(event)" value="Show"> &emsp;
  <label><input type="radio" name="mark" class="correct">Correct</label> &emsp;
  <label><input type="radio" name="mark" class="incorrect">Incorrect</label> &emsp;
  <label><input type="radio" name="mark" class="manual">
      Manual Points: <input type="number" name="points" step="0.01" min="0" max="10" onclick="tickManual(event);">
  </label> &emsp;
  <input name="mark-answer" type="button" class="btn btn-success" onclick="markAnswer(event)" value="Mark and Show">
  <span name="error"></span>
</form>
<br><br>
{% endfor %}
<input id="show-all" type="button" class="btn btn-success" onclick="showAllAnswers(event)" value="Show All"> &emsp;
</p>
<br><br>
<p id='data'></p>
{% endif %}
{% endblock %}

{% block roomCode %}
{{ request.session.currentGameCode }}
{% endblock %}

{% block playerList %}
<p id="player-list"></p>
{% endblock %}

{% block scripts %}
{{ request.session.currentGameCode|json_script:"currentGameCode" }}
{{ genericquestion.id|json_script:"questionID" }}
<script>
    const roomCode = JSON.parse(document.getElementById('currentGameCode').textContent);
    const questionID = JSON.parse(document.getElementById('questionID').textContent);

    var protocol = '';
    if (window.location.protocol === 'https:') {
        protocol = 'wss:';
    } else {
        protocol = 'ws:';
    }

    const chatSocket = new WebSocket(
        protocol + '//'
        + window.location.host
        + '/ws/game/'
        + roomCode
        + '/'
    );

    chatSocket.onopen = function() {
      console.log( 'opened' );
      chatSocket.sendMessage({ command: 'get_player_list', gameID: roomCode });
    };

    chatSocket.sendMessage = function(data) {
      try {
        console.log( data );
        chatSocket.send(JSON.stringify(data));
      }
      catch(err) {
        console.log(err.message);
      }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        document.getElementById("player-list").innerHTML = "Not connected";
    };

    chatSocket.onmessage = function(e) {
      console.log(e)
      const data = JSON.parse(e.data);
      const command = data.command;
      if (command === 'answer') {
        answer = data.answer;
        if(answer.username && answer.questionID == questionID) {
          document.getElementById(answer.username).innerHTML = answer.answer;
        }
      }
      else if (command === 'markedAnswer') {
        responseID = data.responseID;
        form = document.getElementById(responseID);
        form.querySelector('span[name="marking"]').innerHTML = data.marking;
        form.querySelector('span[name="points"]').innerHTML = data.points;
      }
      else if (command === 'playerList') {
        document.getElementById("player-list").innerHTML = data.playerList;
      }
      else if (command === 'playerConnect') {
        document.getElementById("player-list").innerHTML += "<li id='plist-" + data.username + "'>" + data.username + "</li>";
      }
      else if (command === 'playerDisconnect') {
        var element = document.getElementById("plist-"+data.username);
        element.parentNode.removeChild(element);
      }
    };

    document.querySelector('#show-question').onclick = function(e) {
      chatSocket.sendMessage({ command: 'change_question', questionID: questionID, gameID: roomCode });
    };

    document.querySelector('#mark-question').onclick = function(e) {
      chatSocket.sendMessage({ command: 'mark_question', questionID: questionID, gameID: roomCode });
    };

    function tickManual(e) {
      e.toElement.parentElement.children[0].checked=true;
    };

    function showAnswer(event) {
      form = event.toElement.parentElement;
      responseID = form.querySelector('input[name="responseID"]').value;
      chatSocket.sendMessage({ command: 'show_answer', responseID: responseID });
    };

    function markAnswer(event) {
      form = event.toElement.parentElement;
      responseID = form.querySelector('input[name="responseID"]').value;
      points = 0;
      error = form.querySelector('span[name="error"]').innerHTML;
      if(form.querySelector('.correct').checked) {
        marking = 'c';
        points = 1;
      }
      else if(form.querySelector('.incorrect').checked) {
        marking = 'i';
        points = 0;
      }
      else if(form.querySelector('.manual').checked) {
        marking = 'p';
        points = form.querySelector('input[name="points"]').value;
        if(points === '') {
          error = "No points input.";
          return false;
        }
      }
      else {
        error = "No marking selected.";
        return false;
      }
      error = "";
      console.log(marking)
      chatSocket.sendMessage({ command: 'mark_answer', responseID: responseID, marking: marking, points: points});
    };

    function showAllAnswers(event) {
      chatSocket.sendMessage({ command: 'show_all_answers', questionID: questionID, gameID: roomCode });
    };

    function showCorrectAnswer(event) {
      chatSocket.sendMessage({ command: 'show_correct_answer', questionID: questionID, answer: "{{ genericquestion.answer }}" });
    }

</script>
{% endblock %}
