{% extends "leader/leader_base_generic.html" %}

{% block content %}
  <h1>Round {{ round.number }} - {{ round.title }}</h1>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Questions</h4>
    {% if round.genericquestion_set %}
    <ul>
    {% for question in round.genericquestion_set.all %}
    <li>
      <a href="{{ question.get_absolute_url }}"><strong>{{ question.number }}.</strong> {{ question.question }}</a>
    </li>
    {% endfor %}
    </ul
    {% else %}
    No questions
    {% endif %}
  </div>
{% endblock %}
