{% extends "base_generic.html" %}
{% load staticfiles %}

{% block style %}
<style>
#plist-{{ request.session.username}} {color: lime;}
#scores-{{ request.session.username}} {color: lime;}
#answers-{{ request.session.username}} {color: lime;}
#page-row {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
</style>
{% endblock %}

{% block content %}
{% if request.session.currentGameCode is None %}
No current game
{% else %}
<div id="current-screen" style="height:100%;">
  <h1>Game Loading</h1>
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>
{% endif %}
{% endblock %}

{% block roomCode %}
{{ request.session.currentGameCode }}
{% endblock %}

{% block playerList %}
<p id="player-list"></p>
{% endblock %}

{% block scripts %}
{% if request.session.currentGameCode is None %}
{% else %}
{{ request.session.currentGameCode|json_script:"room-code" }}
{{ request.session.userID|json_script:"userID"}}
{{ request.session.username|json_script:"username"}}

{% load static %}
<script src="{% static 'scripts/ServerDate.js' %}"></script>
<script src="{% static 'scripts/timer.js' %}"></script>
<script>
  $(document).ready(function() {
      var currentScreen = document.getElementById("current-screen");
      var onRoundStart = false;
      var currentQuestionMultipleChoice = false;
      const userID = JSON.parse(document.getElementById('userID').textContent);
      const username = JSON.parse(document.getElementById('username').textContent);
      const roomCode = JSON.parse(document.getElementById('room-code').textContent);
      var timer = new Timer();

      var protocol = '';
      if (window.location.protocol === 'https:') {
          protocol = 'wss:';
      } else {
          protocol = 'ws:';
      }

      const chatSocket = new WebSocket(
          protocol + '//'
          + window.location.host
          + '/ws/game/'
          + roomCode
          + '/?userID=' + userID
      );

      chatSocket.onopen = function() {
        console.log( 'opened' );
        chatSocket.sendMessage({ command: 'get_current_screen', userID: userID });
        chatSocket.sendMessage({ command: 'get_player_list', gameID: roomCode });
      };

      chatSocket.sendMessage = function(data) {
        try {
          console.log( data );
          chatSocket.send(JSON.stringify(data));
        }
        catch(err) {
          console.log(err.message);
        }
      };

      chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        document.getElementById("player-list").innerHTML = "Not connected";
      };

      function loadQuestion(data) {
        question = data.question;
        console.log(question);
        document.getElementById('question-id').value = question.id;
        document.getElementById('questionNumber').innerHTML = "Question " + question.number;
        document.getElementById('question').innerHTML = question.question;
        if(question.type == 'i') {
          document.getElementById('image').style.display="block";
          document.getElementById('questionImg').src = question.media_url;
        }
        else if(question.type == 'v') {
          document.getElementById('video').style.display="block";
          document.getElementById('videoFrame').src = question.media_url;
        }
        else if(question.type == 'a') {
          document.getElementById('audio').style.display="block";
          document.getElementById('audioFrame').src = question.media_url;
        }
        var form = document.getElementById("form");
        var answers = document.getElementById("answers");
        document.getElementById('correct-answer-display').style.display = "none";
        if(data.marking === false) {
          form.style.display = "block";
          answers.style.display = "none";
          document.getElementById("current-answer").innerHTML = data.answer;
          timer.initializeClockWithData('timerCountdown', data);
          if(question.multiple_choice_form) {
            document.getElementById('options').innerHTML = question.multiple_choice_form;
            document.getElementById("form").addEventListener('submit', function(event){event.preventDefault();handleMultipleChoiceForm(event);})
            document.getElementById("set-answer").onclick = handleMultipleChoiceForm;
            var selectedID = $("label:contains('\n " + data.answer + "')").attr('for');
            if(selectedID) {
              $('#'+selectedID).prop('checked',true);
            }
          }
          else {
            document.getElementById('id_response').value = "";
            document.getElementById("form").addEventListener('submit', function(event){event.preventDefault();handleForm(event);})
            document.getElementById("set-answer").onclick = handleForm;
          }
          if(data.answer) {
            document.getElementById("current-answer-display").style.display="block";
          }

          if(question.type == 'a') {
            var audioFrame = document.getElementById('audioFrame');
            audioFrame.querySelector('.control .play').click();
          }
        }
        else {
          form.style.display = "none";
          document.getElementById("answer-display").innerHTML = "";
          answers.style.display = "block";
        }
      };

      chatSocket.onmessage = function(e) {
        console.log(e)
        const data = JSON.parse(e.data);
        const command = data.command;
        if(onRoundStart && !command.includes("player")) {
          document.getElementById('page-row').style.backgroundImage = "";
          onRoundStart = false;
        }

        if(command === 'gameStart') {
          $("#current-screen").load("{% static 'quiz/gameStart.html' %}");
        }
        else if(command === 'quizStart') {
          if(data.quizTitle) {
            $("#current-screen").load("{% static 'quiz/quizStart.html' %}", function() {
              document.getElementById('quizTitle').innerHTML = data.quizTitle;
              document.getElementById('quizNumber').innerHTML = data.quizNumber;
              document.getElementById('quizDesc').innerHTML = data.quizDesc;
            });
          }
        }
        else if(command === 'quizEnd') {
          if(data.quizTitle) {
            $("#current-screen").load("{% static 'quiz/quizEnd.html' %}", function() {
              document.getElementById('quizTitle').innerHTML = data.quizTitle;
              document.getElementById('quizNumber').innerHTML = data.quizNumber;
              displayScores(data.scoresDict);
              quizResultsAnimation(data);
            });
          }
        }
        else if(command === 'roundStart') {
          if(data.roundTitle) {
            $("#current-screen").load("{% static 'quiz/roundStart.html' %}", function() {
              onRoundStart = true;
              document.getElementById('roundTitle').innerHTML = data.roundTitle;
              document.getElementById('roundNumber').innerHTML = data.roundNumber;
              document.getElementById('roundDesc').innerHTML = data.roundDesc;
              if(data.roundImg) {
                document.getElementById('round-container').style.background = "rgba(0, 0, 0, 0.75)";
                document.getElementById('page-row').style.backgroundImage = "url('" + data.roundImg + "')";
                fadeIn(document.getElementById('page-row'));
              }
              else {
                // document.getElementById('roundImg').style.display = "none";
              }
            });
          }
        }
        else if(command === 'roundTransition') {
          $("#current-screen").load("{% static 'quiz/roundTransition.html' %}");
        }
        else if(command === 'roundEnd') {
          if(data.roundTitle) {
            $("#current-screen").load("{% static 'quiz/roundEnd.html' %}", function() {
              document.getElementById('roundTitle').innerHTML = data.roundTitle;
              document.getElementById('roundNumber').innerHTML = data.roundNumber;
              document.getElementById('scores-display').innerHTML = data.scoresHTML;
              roundResultsAnimation();
            });
          }
        }
        else if (command === 'question') {
          question = data.question
          multiple_choice = !(question.multiple_choice_form == null)
          if(question.id) {
            if(document.getElementById('question-id') && question.multiple_choice == currentQuestionMultipleChoice) {
              loadQuestion(data);
            }
            else {
              if(multiple_choice) {
                $("#current-screen").load("{% static 'quiz/showMultipleChoiceQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
              else {
                $("#current-screen").load("{% static 'quiz/showQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
              currentQuestionMultipleChoice = multiple_choice;
            }
          }
        }
        else if (command === 'answer') {
          answer = data.answer;
          questionID = document.getElementById('question-id').value;
          if(answer.username == username && answer.questionID == questionID) {
            document.getElementById('current-answer').innerHTML = answer.answer;
            if(answer.answer) {
              document.getElementById("current-answer-display").style.display="block";
              document.getElementById('id_response').value = "";
            }
          }
        }
        else if (command === 'showAnswer') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID) {
            usernameElem = document.getElementById('answers-' + data.username);
            if(usernameElem === null) {
              document.getElementById('answer-display').innerHTML += data.answerHTML;
            }
            else {
              usernameElem.innerHTML = data.answerHTML;
            }
          }
        }
        else if (command === 'showAllAnswers') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID) {
            document.getElementById('answer-display').innerHTML = data.answersHTML;
          }
        }
        else if (command === 'correctAnswer') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID) {
            document.getElementById('correct-answer-display').style.display="block";
            document.getElementById('correct-answer').innerHTML = data.answer;
          }
        }
        else if (command === 'timer') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID) {
            var waitInterval = setInterval(function()
            {
              if (ServerDate.is_synchronized()) {
                clearInterval(waitInterval);
                timer.initializeClockWithData('timerCountdown', data);
                return;
              }
            }, 500);
          }
        }
        else if (command === 'playerList') {
          document.getElementById("player-list").innerHTML = data.playerList;
        }
        else if (command === 'playerConnect') {
          if(data.username !== username) {
            document.getElementById("player-list").innerHTML += "<p id='plist-" + data.username + "'>" + data.username + "</p>";
          }
        }
        else if (command === 'playerDisconnect') {
          var element = document.getElementById("plist-"+data.username);
          element.parentNode.removeChild(element);
        }
      };

      function handleForm(event) {
        answer = document.getElementById('id_response').value;
        questionID = document.getElementById('question-id').value;
        chatSocket.sendMessage({ command: 'set_text_answer', questionID: questionID, gameID: roomCode, userID: userID, answer: answer });
      };

      function handleMultipleChoiceForm(event) {
        answer = $("input[name=response]:checked").parent().text().trimLeft();
        console.log(answer);
        questionID = document.getElementById('question-id').value;
        chatSocket.sendMessage({ command: 'set_text_answer', questionID: questionID, gameID: roomCode, userID: userID, answer: answer });
      };

      function fadeIn(element) {
          element.style.opacity = 0;
          var tick = function () {
              element.style.opacity = +element.style.opacity + 0.0075;
              if (+element.style.opacity < 1) {
                  (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16)
              }
          };
          tick();
      };

      function roundResultsAnimation() {
        gsap.from(".score", {duration: 3, x: 300, opacity: 0, scale: 1, delay: 0.5,
          ease: "elastic",
          stagger: -1,
        });
      };

      function quizResultsAnimation() {
        var tl = gsap.timeline({onComplete: quizSwitchPodium});
        tl.from(".score", {duration: 3, x: 300, opacity: 0, scale: 1, delay: 0.5,
          ease: "elastic",
          stagger: -1,
        });
      }

      function quizSwitchPodium() {
        $('#carousel').on('slide.bs.carousel', function (event) {
          quizPodiumAnimation();
          $('#carousel').unbind('slide.bs.carousel');
        });
        $('#carousel').carousel(1);
      }

      function quizPodiumAnimation() {
        var tl = gsap.timeline({onComplete: endQuizAnimation});
        var delay = 1; //Ensures first thing shown has delay of 1, second has delay of 0.5.
        if(document.querySelector('#place-2 .podiumScore')) {
          tl.from("#place-2 .podiumScore", {duration: 3, x: 300, opacity: 0, scale: 1, delay: 1,
            ease: "elastic",
          });
          delay=0.5;
        }
        if(document.querySelector('#place-1 .podiumScore')) {
          tl.from("#place-1 .podiumScore", {duration: 3, x: 300, opacity: 0, scale: 1, delay: delay,
            ease: "elastic",
          });
          delay=0;
        }
        if(document.querySelector('#place-0 .podiumScore')) {
          tl.from("#place-0 .podiumScore", {duration: 3, x: 300, opacity: 0, scale: 1, delay: delay,
            ease: "elastic",
          });
        }
      }

      function endQuizAnimation() {
        document.getElementById("carousel-left").style.display="flex";
        document.getElementById("carousel-right").style.display="flex";
      }

      function scoreToString(rank, score) {
        str = "";
        if(rank < 3) {
          str = "<span class='podiumScore'>" + score.username + "<br>" + score.score + " points</span>";
        }
        else {
          rank++;
          str = "<div class='score'><b>" + rank + "</b><br>" + score.username + "<br>" + score.score + " points</div>";
        }
        return str;
      };

      function displayScores(scores) {
        console.log(scores);
        for(var i = 0; i < 3 && i < scores.length; i++) {
          document.getElementById('place-'+i).innerHTML = scoreToString(i, scores[i]);
        }
        table = document.getElementById('scores-display');
        for(var i = 3; i < scores.length; i++) {
            var row = table.insertRow(-1);
            var cell = row.insertCell(-1);
            cell.innerHTML = scoreToString(i, scores[i]);
        }
      };
});
</script>

{% endif %}
{% endblock %}
