{% extends "base_generic.html" %}
{% load staticfiles %}

{% block style %}
<style>
#plist-{{ request.session.username}} {color: lime;}
#scores-{{ request.session.username}} {color: lime;}
#answers-{{ request.session.username}} {color: lime;}
#page-row {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
</style>
{% endblock %}

{% block content %}
{% if request.session.currentGameCode is None %}
No current game
{% else %}
<div id="current-screen" style="height:100%;">
  <h1>Game Loading</h1>
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>
{% endif %}
{% endblock %}

{% block roomCode %}
{{ request.session.currentGameCode }}
{% endblock %}

{% block scripts %}
{% if request.session.currentGameCode is None %}
{% else %}
{{ request.session.currentGameCode|json_script:"room-code" }}
{{ request.session.userID|json_script:"userID"}}
{{ request.session.username|json_script:"username"}}

{% load static %}
<script src="{% static 'scripts/timer.js' %}"></script>
<script src="{% static 'scripts/autosize.js' %}"></script>
<script src="{% static 'scripts/fitty.min.js' %}"></script>
<script>
  $(document).ready(function() {
      var currentScreen = document.getElementById("current-screen");
      var onRoundStart = false;
      var currentStage = 0;
      const userID = JSON.parse(document.getElementById('userID').textContent);
      const username = JSON.parse(document.getElementById('username').textContent);
      const roomCode = JSON.parse(document.getElementById('room-code').textContent);
      var timeInterval = setInterval(function() {return false;}, 0);
      clearInterval(timeInterval);
      var answerCoords;

      var protocol = '';
      if (window.location.protocol === 'https:') {
          protocol = 'wss:';
      } else {
          protocol = 'ws:';
      }

      const chatSocket = new WebSocket(
          protocol + '//'
          + window.location.host
          + '/ws/game/'
          + roomCode
          + '/?userID=' + userID
      );

      chatSocket.onopen = function() {
        console.log( 'opened' );
        chatSocket.sendMessage({ command: 'get_current_screen', userID: userID });
        chatSocket.sendMessage({ command: 'get_player_list', gameID: roomCode });
      };

      chatSocket.sendMessage = function(data) {
        try {
          console.log( data );
          chatSocket.send(JSON.stringify(data));
        }
        catch(err) {
          console.log(err.message);
        }
      };

      chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        document.getElementById("player-list").innerHTML = "Not connected";
        document.getElementById("not-connected").innerHTML = "(Not connected)";
      };

      function loadQuestion(data) {
        currentStage = 0;
        question = data.question;
        console.log(question);
        document.getElementById('question-id').value = question.id;
        document.getElementById('questionNumber').innerHTML = "Question " + question.number;
        document.getElementById('question').innerHTML = question.question;
        if(question.media_type == 'i') {
          document.getElementById('imageLoading').style.display="block";
          document.getElementById('image').style.display="block";
          document.getElementById('questionImg').addEventListener('load', imageLoaded);
          document.getElementById('questionImg').src = question.media_url;
        }
        else if(question.media_type == 'v') {
          document.getElementById('video').style.display="block";
          document.getElementById('videoFrame').src = question.media_url;
        }
        else if(question.media_type == 'a') {
          document.getElementById('audio').style.display="block";
          document.getElementById('audio-player').setAttribute('src', question.media_url);
        }
        var form = document.getElementById("form");
        var answers = document.getElementById("answers");
        document.getElementById('correct-answer-display').style.display = "none";
        if(data.marking === false) {
          var timerEnd = new Date(Date.parse(new Date(data.timerEnd)));
          console.log(timerEnd);
          timeInterval = initializeClock('timerCountdown', timerEnd, data.timeRemaining, timeInterval);
          if(question.multiple_choice_form) {
            document.getElementById('options').innerHTML = question.multiple_choice_form;
            document.getElementById("form").addEventListener('submit', function(event){event.preventDefault();handleMultipleChoiceForm(event);})
            document.getElementById("set-answer").onclick = handleMultipleChoiceForm;
            var selectedID = $("label:contains('\n " + data.answer + "')").attr('for');
            if(selectedID) {
              $('#'+selectedID).prop('checked',true);
            }
          }
          else if(question.question_type == "o") {
            displayOrderingElements(JSON.parse(question.ordering_elements));
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
            fitty('.fit', {
              minSize: 10,
              maxSize: 200
            });

            document.getElementById("form").addEventListener('submit', function(event){event.preventDefault();handleOrderingForm(event);})
            document.getElementById("set-answer").onclick = handleOrderingForm;
          }
          else if(question.question_type == "w") {
            var map = loadMap(question.map);
            document.getElementById("form").addEventListener('submit', function(event){event.preventDefault();handleMapForm(event);})
            document.getElementById("set-answer").onclick = handleMapForm;
          }
          else {
            if(question.progressive_info) {
              document.getElementById('stages-body').innerHTML = "";
              currentStage = data.currentStage;
              progressive_info = question.progressive_info;
              var stages = JSON.parse(progressive_info["stages"]);
              var step = parseFloat(progressive_info["step"]);
              var minPoints = parseFloat(progressive_info["min_points"]);
              var maxPoints = parseFloat(progressive_info["max_points"]);
              var currentMaxPoints = maxPoints - (step*currentStage);
              initialAppendToStagesTable(stages, question.media_type);
              displayNewMaxPoints(currentMaxPoints);
              document.getElementById('total-hints-counter').innerHTML = stages.length;
              document.getElementById('current-hints-counter').innerHTML = currentStage+1;
              document.getElementById('next-hint-text').innerHTML = "Next Hint (-" + progressive_info["step"] + " points)"

              document.getElementById('next-hint-paragraph').style.display = "block";
              document.getElementById('hints-caption').style.display = "table-caption";
              if(currentStage == (stages.length - 1)) {
                document.getElementById('next-hint').style.display = "none";
              }
              else {
                document.getElementById('next-hint').style.display = "inline-block";
              }
              document.getElementById('next-hint').addEventListener('click', function() {
                showNextHint(stages, step, minPoints, question.media_type);
              }, false);
            }
            if(question.question_type == "g") {
              var regex = /"([^"]+)"(?!.+".+)/;
              var searchterm = regex.exec(question.question)[1];
              console.log(searchterm);
              document.getElementById("form").addEventListener('submit', function(event){event.preventDefault();handleGoogleTrendsForm(question.question, searchterm, event);})
              document.getElementById("set-answer").addEventListener('click', function(event) {
                handleGoogleTrendsForm(question.question, searchterm, event);
              }, false);
            }
            else {
              document.getElementById("form").addEventListener('submit', function(event){event.preventDefault();handleForm(event);})
              document.getElementById("set-answer").onclick = handleForm;
            }
            document.getElementById("edit-answer").onclick = editAnswer;
            document.getElementById('id_response').value = "";
            autosize(document.querySelectorAll('textarea'));
            $("#id_response").keypress(function (e) {
              if(e.which == 13 && !e.shiftKey) {
                e.preventDefault();
                document.getElementById("set-answer").click();
              }
            });
          }

          answers.style.display = "none";
          form.style.display = "block";
          if(data.answer) {
            if(question.question_type == "w" && $.trim($("#vmap").html())!='') {
              addCurrentMarker(JSON.parse(singleQuotesToDouble(data.answer)));
            }
            else {
              document.getElementById("current-answer").innerHTML = data.answer;
            }
            document.getElementById("current-answer-display").style.display="block";
          }
        }
        else {
          if(question.progressive_info) {
            document.getElementById('stages-body').innerHTML = "";
            progressive_info = question.progressive_info;
            var stages = JSON.parse(progressive_info["stages"]);
            currentStage = stages.length-1;
            initialAppendToStagesTable(stages, question.media_type);
            document.getElementById('next-hint-paragraph').style.display = "none";
            document.getElementById('hints-caption').style.display = "none";
          }
          else if(question.question_type == "w") {
            var map = loadMap(question.map, false);
            document.getElementById('vmaplocation').appendChild(
              document.getElementById('vmap')
            );
          }
          form.style.display = "none";
          document.getElementById("answer-display").innerHTML = "";
          answers.style.display = "block";
        }
      };

      chatSocket.onmessage = function(e) {
        console.log(e)
        const data = JSON.parse(e.data);
        const command = data.command;
        if(onRoundStart && !command.includes("player")) {
          document.getElementById('page-row').style.backgroundImage = "";
          onRoundStart = false;
        }

        if(command === 'gameStart') {
          $("#current-screen").load("{% static 'quiz/gameStart.html' %}");
        }
        else if(command === 'quizStart') {
          if(data.quizTitle) {
            $("#current-screen").load("{% static 'quiz/quizStart.html' %}", function() {
              document.getElementById('quizTitle').innerHTML = data.quizTitle;
              document.getElementById('quizNumber').innerHTML = data.quizNumber;
              document.getElementById('quizDesc').innerHTML = data.quizDesc;
            });
          }
        }
        else if(command === 'quizEnd') {
          if(data.quizTitle) {
            $("#current-screen").load("{% static 'quiz/quizEnd.html' %}", function() {
              document.getElementById('quizTitle').innerHTML = data.quizTitle;
              document.getElementById('quizNumber').innerHTML = data.quizNumber;
              displayScores(data.scoresDict);
              quizResultsAnimation(data);
            });
          }
        }
        else if(command === 'roundStart') {
          if(data.roundTitle) {
            $("#current-screen").load("{% static 'quiz/roundStart.html' %}", function() {
              onRoundStart = true;
              document.getElementById('roundTitle').innerHTML = data.roundTitle;
              document.getElementById('roundNumber').innerHTML = data.roundNumber;
              document.getElementById('roundDesc').innerHTML = data.roundDesc;
              if(data.roundImg) {
                document.getElementById('round-container').style.background = "rgba(0, 0, 0, 0.75)";
                document.getElementById('page-row').style.backgroundImage = "url('" + data.roundImg + "')";
                fadeIn(document.getElementById('page-row'));
              }
              else {
                // document.getElementById('roundImg').style.display = "none";
              }
            });
          }
        }
        else if(command === 'roundTransition') {
          $("#current-screen").load("{% static 'quiz/roundTransition.html' %}");
        }
        else if(command === 'roundEnd') {
          if(data.roundTitle) {
            $("#current-screen").load("{% static 'quiz/roundEnd.html' %}", function() {
              document.getElementById('roundTitle').innerHTML = data.roundTitle;
              document.getElementById('roundNumber').innerHTML = data.roundNumber;
              document.getElementById('scores-display').innerHTML = data.scoresHTML;
              roundResultsAnimation();
            });
          }
        }
        else if(command === 'finalResults') {
          $("#current-screen").load("{% static 'quiz/finalResults.html' %}", function() {
            chatSocket.sendMessage({ command: 'set_video_load', userID: userID, loaded: false });
            video = document.getElementById('resultsVideo');

            var req = new XMLHttpRequest();
            var source = '';
            if(data.draw) {
              source = 'https://thumbs.gfycat.com/WideAdventurousKouprey-mobile.mp4';
            }
            else {
              source = 'https://thumbs.gfycat.com/JoyfulEsteemedIvorybackedwoodswallow-mobile.mp4';
            }
            req.open('GET', source, true);
            req.responseType = 'blob';

            req.onload = function() {
               // Onload is triggered even on 404
               // so we need to check the status code
               if (this.status === 200) {
                  var videoBlob = this.response;
                  var vid = URL.createObjectURL(videoBlob); // IE10+
                  // Video is now downloaded
                  // and we can set it as source on the video element
                  video.src = vid;
               }
            }
            req.onerror = function() {
               // Error
            }

            req.send();

            // if(data.draw) {
            //   document.getElementById('resultsVideo').src = 'https://thumbs.gfycat.com/WideAdventurousKouprey-mobile.mp4';
            // }
            video.addEventListener('ended', function() {
              window.location.replace("{% url 'final-results' %}");
            });
            video.addEventListener('canplaythrough', function() {
              console.log("loaded");
              document.getElementById('videoLoading').style.display = "none";
              document.getElementById('waitingForVideoLoading').style.display = "block";
              chatSocket.sendMessage({ command: 'set_video_load', userID: userID, loaded: true });
            });

            video.load();

            // chatSocket.sendMessage({ command: 'set_video_load', userID: userID, loaded: false });
            // video = document.getElementById('resultsVideo');
            // if(data.draw) {
            //   document.getElementById('resultsVideo').src = 'https://thumbs.gfycat.com/WideAdventurousKouprey-mobile.mp4';
            // }
            // video.addEventListener('ended', function() {
            //   window.location.replace("{% url 'final-results' %}");
            // });
            // video.addEventListener('canplaythrough', function() {
            //   console.log("loaded");
            //   document.getElementById('videoLoading').style.display = "none";
            //   document.getElementById('waitingForVideoLoading').style.display = "block";
            //   chatSocket.sendMessage({ command: 'set_video_load', userID: userID, loaded: true });
            // });
            //
            // video.load();
          });
        }
        else if(command === 'allLoaded') {
          element = document.getElementById('waitingForVideoLoading');
          if (typeof(element) != 'undefined' && element != null) {
            element.style.display = "none";
            document.getElementById('resultsVideo').play();
          }
        }
        else if (command === 'question') {
          question = data.question
          if(question.id) {
              if(question.question_type == 'm') {
                $("#current-screen").load("{% static 'quiz/showMultipleChoiceQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
              else if(question.question_type == 'p') {
                $("#current-screen").load("{% static 'quiz/showProgressiveQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
              else if(question.question_type == 'g') {
                $("#current-screen").load("{% static 'quiz/showGoogleTrendsQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
              else if(question.question_type == 'o') {
                $("#current-screen").load("{% static 'quiz/showOrderingQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
              else if(question.question_type == 'w') {
                $("#current-screen").load("{% static 'quiz/showMapQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
              else {
                $("#current-screen").load("{% static 'quiz/showQuestion.html' %}", function() {
                  loadQuestion(data);
                });
              }
          }
        }
        else if (command === 'answer') {
          answer = data.answer;
          questionID = document.getElementById('question-id').value;
          if(answer.username == username && answer.questionID == questionID) {
            if($.trim($("#vmap").html())!='') {
              addCurrentMarker(answer.answer);
              document.getElementById("current-answer-display").style.display="block";
            }
            else {
              document.getElementById('current-answer').innerHTML = answer.answer;
              if(answer.answer) {
                document.getElementById("current-answer-display").style.display="block";
                if(document.getElementById('id_response')) {
                  document.getElementById('id_response').value = "";
                  autosize.update(document.getElementById('id_response'));
                }
              }
            }
          }
        }
        else if (command === 'showAnswer') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID && document.getElementById('answers').style.display !== "none") {
            usernameElem = document.getElementById('answers-' + data.username);
            if(usernameElem === null) {
              document.getElementById('answer-display').innerHTML += data.answerHTML;
            }
            else {
              usernameElem.innerHTML = data.answerHTML;
            }
            if($.trim($("#vmap").html())!='') {
              fill = 'gold';
              if(data.username == username) {
                fill = '#f0ad4e';
              }
              addMarker(data.username, JSON.parse(singleQuotesToDouble(data.answer)), {fill:fill});
            }
          }
        }
        else if (command === 'showAllAnswers') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID) {
            document.getElementById('answer-display').innerHTML = data.answersHTML;
          }
        }
        else if (command === 'correctAnswer') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID) {
            document.getElementById('correct-answer-display').style.display="block";
            if(data.questionType == "g") {
              var divElem = document.getElementById('correct-answer-display');
              displayGoogleTrends(divElem, data.comparisonItems);
            }
            else {
              document.getElementById('correct-answer').innerHTML = htmlDecode(data.answer);
            }
            if($.trim($("#vmap").html())!='') {
              if(data.coords) {
                addMarker("Correct Answer", data.coords, {fill:"lime"});
              }
            }
          }
        }
        else if (command === 'timer') {
          questionID = document.getElementById('question-id').value;
          if(questionID == data.questionID) {
            var timerEnd = new Date(Date.parse(new Date(data.timerEnd)));
            timeInterval = initializeClock('timerCountdown', timerEnd, data.timeRemaining, timeInterval);
          }
        }
        else if (command === 'playerList') {
          document.getElementById("player-list").innerHTML = data.playerList;
        }
        else if (command === 'playerConnect') {
          if(data.username !== username && !document.getElementById("plist-" + data.username)) {
            document.getElementById("player-list").innerHTML += "<p id='plist-" + data.username + "'>" + data.username + "</p>";
          }
        }
        else if (command === 'playerDisconnect') {
          var element = document.getElementById("plist-"+data.username);
          element.parentNode.removeChild(element);
        }
      };

      function handleForm(event) {
        var answer = document.getElementById('id_response').value;
        var questionID = document.getElementById('question-id').value;
        var maxPoints = null;
        var maxPointsElem = document.getElementById('current-max-points');
        if(maxPointsElem) {
          maxPoints = parseFloat(maxPointsElem.innerHTML);
        }
        chatSocket.sendMessage({ command: 'set_text_answer', questionID: questionID, gameID: roomCode, userID: userID, answer: answer, maxPoints: maxPoints });
      };

      function handleGoogleTrendsForm(question, searchterm, event) {
        var answer = document.getElementById('id_response').value;
        answer = $.trim(answer.toUpperCase());
        var words = answer.split(" ", 3);

        console.log(words);
        if(words.length !== 2) {
          console.log("too short");
          $('#id_response').removeClass('is-valid').addClass('is-invalid');
          document.getElementById('invalid-feedback').innerHTML = "Must enter 2 words.";
        }
        else if(!words.includes(searchterm.toUpperCase())) {
          console.log("not include");
          $('#id_response').removeClass('is-valid').addClass('is-invalid');
          document.getElementById('invalid-feedback').innerHTML = "Must include the word \"" + searchterm + "\" in your answer.";
        }
        else {
          $('#id_response').removeClass('is-invalid').addClass('is-valid');
          document.getElementById('invalid-feedback').innerHTML = "";
          handleForm(event);
        }
        return;
      }

      function handleMultipleChoiceForm(event) {
        var answer = $("input[name=response]:checked").parent().text().trimLeft();
        console.log(answer);
        var questionID = document.getElementById('question-id').value;
        chatSocket.sendMessage({ command: 'set_text_answer', questionID: questionID, gameID: roomCode, userID: userID, answer: answer, maxPoints: null });
      };

      function handleOrderingForm(event) {
        var answer = $("#sortable").sortable("toArray");
        var questionID = document.getElementById('question-id').value;
        chatSocket.sendMessage({ command: 'set_ordering_answer', questionID: questionID, gameID: roomCode, userID: userID, answer: answer, maxPoints: null });
      };

      function handleMapForm(event) {
        if(answerCoords) {
          var answer = answerCoords;
          var questionID = document.getElementById('question-id').value;
          chatSocket.sendMessage({ command: 'set_text_answer', questionID: questionID, gameID: roomCode, userID: userID, answer: answer, maxPoints: null });
        }
      };

      function editAnswer(event) {
        response = document.getElementById('id_response');
        response.value = document.getElementById('current-answer').innerHTML;
        autosize.update(response);
      };

      function showNextHint(stages, step, minPoints, mediaType) {
        var newMax = parseFloat(document.getElementById('current-max-points').innerHTML) - step;
        if(Math.round(newMax) < minPoints) {
          console.log("Error, too low");
          return false;
        }
        currentStage++;
        console.log(currentStage);
        if(currentStage >= stages.length) {
          console.log("Gone past end of stage array.");
          return false;
        }
        var questionID = document.getElementById('question-id').value;
        chatSocket.sendMessage({ command: 'increment_user_progressive_stage', questionID: questionID, gameID: roomCode, userID: userID, currentStage: currentStage, maxPoints: newMax });

        displayNewMaxPoints(newMax);
        if(currentStage == (stages.length - 1)) {
          document.getElementById('next-hint').style.display = "none";
        }
        appendToStagesTable(stages, mediaType);
        document.getElementById('current-hints-counter').innerHTML = currentStage+1;
      };

      function fadeIn(element) {
          element.style.opacity = 0;
          var tick = function () {
              element.style.opacity = +element.style.opacity + 0.0075;
              if (+element.style.opacity < 1) {
                  (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16)
              }
          };
          tick();
      };

      function roundResultsAnimation() {
        gsap.from(".score", {duration: 3, x: 300, opacity: 0, scale: 1, delay: 0.5,
          ease: "elastic",
          stagger: -1,
        });
      };

      function quizResultsAnimation() {
        var tl = gsap.timeline({onComplete: quizSwitchPodium});
        tl.from(".score", {duration: 3, x: 300, opacity: 0, scale: 1, delay: 0.5,
          ease: "elastic",
          stagger: -1,
        });
      };

      function quizSwitchPodium() {
        $('#carousel').on('slide.bs.carousel', function (event) {
          quizPodiumAnimation();
          $('#carousel').unbind('slide.bs.carousel');
        });
        $('#carousel').carousel(1);
      };

      function quizPodiumAnimation() {
        var tl = gsap.timeline({onComplete: endQuizAnimation});
        var delay = 1; //Ensures first thing shown has delay of 1, second has delay of 0.5.
        if(document.querySelector('#place-2 .podiumScore')) {
          tl.from("#place-2 .podiumScore", {duration: 3, x: 300, opacity: 0, scale: 1, delay: 1,
            ease: "elastic",
          });
          delay=0.5;
        }
        if(document.querySelector('#place-1 .podiumScore')) {
          tl.from("#place-1 .podiumScore", {duration: 3, x: 300, opacity: 0, scale: 1, delay: delay,
            ease: "elastic",
          });
          delay=0;
        }
        if(document.querySelector('#place-0 .podiumScore')) {
          tl.from("#place-0 .podiumScore", {duration: 3, x: 300, opacity: 0, scale: 1, delay: delay,
            ease: "elastic",
          });
        }
      };

      function endQuizAnimation() {
        document.getElementById("carousel-left").style.display="flex";
        document.getElementById("carousel-right").style.display="flex";
      };

      function scoreToString(rank, score) {
        str = "";
        if(rank < 3) {
          str = "<span class='podiumScore'>" + score.username + "<br>" + score.score + " points</span>";
        }
        else {
          rank++;
          str = "<div class='score'><b>" + rank + "</b><br>" + score.username + "<br>" + score.score + " points</div>";
        }
        return str;
      };

      function displayScores(scores) {
        console.log(scores);
        for(var i = 0; i < 3 && i < scores.length; i++) {
          document.getElementById('place-'+i).innerHTML = scoreToString(i, scores[i]);
        }
        table = document.getElementById('scores-display');
        for(var i = 3; i < scores.length; i++) {
            var row = table.insertRow(-1);
            var cell = row.insertCell(-1);
            cell.innerHTML = scoreToString(i, scores[i]);
        }
      };

      function initialAppendToStagesTable(stages, mediaType) {
        for(var i = 0; i < currentStage; i++) {
          showStage(i, stages, mediaType, false);
        }
        showStage(currentStage, stages, mediaType, true);
      };

      function appendToStagesTable(stages, mediaType) {
        showStage(currentStage, stages, mediaType, true);
      };

      function showStage(stageNum, stages, mediaType, showMedia=false) {
        if(stages[stageNum]["fields"]["text"]) {
          table = document.getElementById('stages-body');
          var row = table.insertRow(-1);
          var cell1 = row.insertCell(-1);
          var cell2 = row.insertCell(-1);
          cell1.innerHTML = stageNum+1;
          cell1.className = "fit";
          cell2.innerHTML = stages[stageNum]["fields"]["text"];
        }
        if(showMedia) {
          console.log("show");
          if(mediaType == 'i') {
            document.getElementById('imageLoading').style.display="block";
            document.getElementById('image').style.display="block";
            document.getElementById('questionImg').addEventListener('load', imageLoaded);
            document.getElementById('questionImg').src = stages[stageNum]["fields"]["media_url"];
            console.log(stages[stageNum]["fields"]["media_url"]);
          }
          else if(mediaType == 'v') {
            document.getElementById('video').style.display="block";
            document.getElementById('videoFrame').src = stages[stageNum]["fields"]["media_url"];
          }
          else if(mediaType == 'a') {
            document.getElementById('audio').style.display="block";
            document.getElementById('audio-player').setAttribute('src', stages[stageNum]["fields"]["media_url"]);
          }
        }
      }

      function displayNewMaxPoints(newMax) {
        var newMaxFormatted;
        if(newMax % 1 == 0) {
          newMaxFormatted = +newMax.toFixed(2);
        }
        else {
          newMaxFormatted = newMax.toFixed(2);
        }
        document.getElementById('current-max-points').innerHTML = newMaxFormatted;
      };

      function htmlDecode(value) {
        return $("<textarea/>").html(value).text();
      };

      function displayGoogleTrends(divElem, comparisonItems) {
        console.log(comparisonItems);
        divElem.innerHTML = "";
        trends.embed.renderExploreWidgetTo(divElem, "TIMESERIES", {"comparisonItem":comparisonItems,"category":0,"property":""}, {"exploreQuery":"geo=GB&date=today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"});
      };

      function displayOrderingElements(elements) {
        var ordering_list = document.getElementById("sortable");
        for(var i = 0; i < elements.length; i++) {
          var list_item = document.createElement("li");
          list_item.className = "ui-state-default";
          list_item.setAttribute("id", elements[i]["pk"]);
          list_item.innerHTML = "<div class=\"fit\"><span>" + elements[i]["fields"]["text"] + "</span></div></li>";
          ordering_list.appendChild(list_item);
        }
      };

      function imageLoaded() {
        console.log("loaded");
        var element = document.getElementById('imageLoading');
        element.style.display = "none";
        console.log(document.getElementById("questionImg").complete);
      };

      function loadMap(map, canAddMarkers=true) {
        var map = new jvm.Map({
          container: $('#vmap'),
          map: map,
          backgroundColor: '#a5bfdd',
          regionsSelectable: true,
          regionsSelectableOne: true,
          onRegionTipShow: function(e, el, code){
              e.preventDefault();
          },
          labels: {
            markers: {
              render: function(code){
                if(!canAddMarkers){
                  return code;
                }
              },
            }
          },
          regionStyle: {
            initial: {
              fill: '#f4f3f0'
            },
            selected: {
              fill: '#c9dfaf'
            }
          },
          markerStyle: {
            initial: {
              fill: 'brown',
              stroke: '#383f47'
            }
          },
        });

        if(canAddMarkers) {
          map.container.click(function(e){
            var latLng = map.pointToLatLng(
                    e.pageX - map.container.offset().left,
                    e.pageY - map.container.offset().top
                ),
                targetCls = $(e.target).attr('class');
            if (latLng && (!targetCls || (targetCls && $(e.target).attr('class').indexOf('jvectormap-marker') === -1))) {
              answerCoords = {"lat":latLng.lat, "lng":latLng.lng};
              map.addMarker("unsubmitted", {name:"Unsubmitted", latLng:[latLng.lat, latLng.lng]}, []);
            }
          });
        }
        return map;
      };

      function addCurrentMarker(coords) {
        addMarker("Current", coords, {fill: '#f0ad4e'});
      };

      function addMarker(name, coords, style={}) {
        if(coords.lat && coords.lng) {
          var marker = {name: name, latLng: [coords.lat, coords.lng], style: style};
          $('#vmap').vectorMap('get', 'mapObject').addMarker(name, marker, []);
        }
      };

      function singleQuotesToDouble(str) {
        return str.replace(/\'/g, '"');
      };
});
</script>

{% endif %}
{% endblock %}
