{% extends "base_generic.html" %}

{% block content %}
  <h1 class="text-danger">Quivia V4.0</h1>
  {% if request.session.username and request.session.changeUsername is not True %}
  <p>Username is <span class="text-info">{{request.session.username}}</span></p>
  <form action="" method="post">
    {% csrf_token %}
    <p><input type="submit" name="change-name" class="btn btn-success" value="Change Name"/></p>
  </form>
  <br>
    {% if request.session.currentGameCode is None %}
      <form action="" method="post">
        {% csrf_token %}
        <p>Enter a room code:<br> {{ join_room_form.room_Code }}</p>
        <p><input type="submit" name="join-room" class="btn btn-success" value="Join Room"/></p>
      </form>
    {% else %}
    <p> Currently in game.
      Room Code: <span class="text-warning">{{request.session.currentGameCode}}</span></p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="enter-game" class="btn btn-success mb-2 mb-sm-0" value="Enter Game"/>&nbsp
        <input type="submit" name="leave-game" class="btn btn-success" value="Leave Game"/>
    </form>
    {% endif %}
  {% else %}
  {% if request.session.username and request.session.changeUsername %}
  <p>Current username is <span class="text-info">{{request.session.username}}</span></p>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <p>Enter your username:<br> {{ username_form.username }}</p>
    <input type="submit" name="set-name" class="btn btn-success" value="Set Name"/>&nbsp
    <input type="submit" name="cancel-name" class="btn btn-success" value="Cancel" formnovalidate/>
  </form>
  {% endif %}
{% endblock %}

{% block playerDisplay %} {% endblock %}
